<h1>Forgot Password</h1>
<form [formGroup]="formGroup" (ngSubmit)="save()">

  <div class="form-group">
    <label>Enter Email</label>
    <input formControlName="email"
           id="email"
           type="email"
           class="form-control" />
    <div class="alert alert-danger" *ngIf="formGroup.get('email').touched && formGroup.get('email').invalid">
      <div *ngIf="formGroup.get('email').errors.required">Email is required.</div>
    </div>
  </div>


  <div class="form-group">
    <div class="col-md-4 col-md-offset-2">
      <span>
        <button class="btn btn-primary"
                type="submit"
                [disabled]="!formGroup.valid">
          Send
        </button>
        <button class="btn"
                type="button"
                [routerLink]="['/register-login']">
          Cancel
        </button>
      </span>

    </div>

  </div>

</form>
