<h1>{{editMode ? 'Edit' : 'Add'}} Wishlist</h1>
<form class="form-horizontal" novalidate
      (ngSubmit)="save()" [formGroup]="formGroup">
  <fieldset>

    <div class="form-group"
         [ngClass]="{'has-error': (formGroup.get('Name').touched || formGroup.get('Name').dirty) && !formGroup.get('Name').valid }">
      <label class="col-md-2 control-label"
             for="Name">Wishlist ID</label>

      <div class="col-md-8">
        <input class="form-control"
               id="Id"
               type="number"
               required
               formControlName="Id" />
        <span class="help-block" *ngIf="(formGroup.get('Name').touched || formGroup.get('Name').dirty) && formGroup.get('Name').errors">
          <span *ngIf="formGroup.get('Name').errors.required">
            Please enter Wishlist Id.
          </span>
        </span>
      </div>
    </div>




    <div class="form-group"
         [ngClass]="{'has-error': (formGroup.get('Name').touched || formGroup.get('Name').dirty) && !formGroup.get('Name').valid }">
      <label class="col-md-2 control-label"
             for="Name">Wishlist Name</label>

      <div class="col-md-8">
        <input class="form-control"
               id="Name"
               type="text"
               required
               formControlName="Name" />
        <span class="help-block" *ngIf="(formGroup.get('Name').touched || formGroup.get('Name').dirty) && formGroup.get('Name').errors">
          <span *ngIf="formGroup.get('Name').errors.required">
            Please enter Wishlist Name.
          </span>
        </span>
      </div>
    </div>




    <div class="form-group"
         [ngClass]="{'has-error': (formGroup.get('Name').touched || formGroup.get('Name').dirty) && !formGroup.get('Name').valid }">
      <label class="col-md-2 control-label"
             for="Name">Wishlist UserId</label>

      <div class="col-md-8">
        <input class="form-control"
               id="UserId"
               type="number"
               required
               formControlName="UserId" />
        <span class="help-block" *ngIf="(formGroup.get('Name').touched || formGroup.get('UserId').dirty) && formGroup.get('UserId').errors">
          <span *ngIf="formGroup.get('UserId').errors.required">
            Please enter Wishlist UserId.
          </span>
        </span>
      </div>
    </div>



    <div class="form-group">
      <div class="col-md-4 col-md-offset-2">
        <span>
          <button class="btn btn-primary"
                  type="submit"
                  [disabled]="!formGroup.valid">
            Save
          </button>
          <button class="btn"
                  type="button"
                  [routerLink]="['/wishlist']">
            Cancel
          </button>
        </span>

      </div>

    </div>
  </fieldset>
</form>
