<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
    <div class="container">
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-white" [routerLink]="['/']"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/book']"><i class="fa fa-book"
                                                                       aria-hidden="true"></i>Books</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/author']"><i class="fa fa-pencil"
                                                                         aria-hidden="true"></i>Authors</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/wishlist']"><i class="fa fa-bookmark"
                                                                           aria-hidden="true"></i>Wishlist</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/genre']"><i class="fa fa-th-list"
                                                                        aria-hidden="true"></i>Genres</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/user-profile']"><i class="fa fa-user"
                                                                               aria-hidden="true"></i>Account</a>
          </li>
          <li class="nav-item" *ngIf="loggedIn()" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]='["/shopping-cart"]'><i class="fa fa-shopping-cart"
                                                                                aria-hidden="true"></i>Shopping Cart</a>
          </li>
          <li class="nav-item" *ngIf="!loggedIn()" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-white" [routerLink]='["/register-login"]' (click)='collapse()'><i
              class="fa fa-sign-in" aria-hidden="true"></i>Login</a>
          </li>
          <li class="nav-item" *ngIf="loggedIn()" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-white" [routerLink]="" (click)='logout()'><i class="fa fa-sign-in"
                                                                                 aria-hidden="true"></i>Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
