<h1>Books</h1>

<button *ngIf="isAdmin()" [routerLink]='["/book-add"]' class="btn-primary btn-primary-primary">Add book </button>

<table class="table" *ngIf="books && books.length">
  <thead>
    <tr>
      <th>Title</th>
      <th>Sales price</th>
      <th>Description</th>
      <th>Publishing Info</th>
      <th>Author Id</th>
      <th>Genre Id</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{book.title}}</td>
      <td>{{book.salesPrice}}</td>
      <td>{{book.description}}</td>
      <td>{{book.publishingInfo}}</td>
      <td>{{book.authorId}}</td>
      <td>{{book.genreId}}</td>
      <td>
        <button *ngIf="isAdmin()" [routerLink]='["/book-edit/" + book.id]'>Edit</button>
        <button *ngIf="isAdmin()" (click)="delete(book)">Delete</button>
        <button *ngIf="loggedIn() && !isAdmin()" [routerLink]='["/book-edit/" + book.id]'>Add to Cart</button>
      </td>
    </tr>
  </tbody>
</table>
